# Directorios de compilação
target/
out/
bin/

# Arquivos Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Arquivos Eclipse
.project
.classpath
.settings/

# Node.js e PHP (se usado)
node_modules/
vendor/

# Arquivos de compilação Java
*.class
*.jar
*.war

# Arquivos temporários e de log
*.log
*.tmp
*.lock

# Configurações IDE
.idea/
.vscode/

# Arquivos de sistema ocultos
.DS_Store
Thumbs.db
