/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 de nov. de 2024, 09:16:50
    Author     : Guylherme Lyra
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(155, 221, 166);
    color: #7a392f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 735px;
    padding: 20px;
}

.voltar {
  text-align: left;
  font-size: 25px;
  position: absolute; 
  top: 20px; 
  left: 20px; 
  padding: 6px 10px;
  background-color: #f8f5e6;
  color: #7a392f;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.voltar:hover {
    color: #f8f5e6;
    background-color: #7a392f;
}

.duvidas {
    text-align: left;
    margin-bottom: 20px;
    font-size: 1rem;
    position: relative; 
    bottom: -69vh;
    left: -40%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 30px;
    background-color: #f8f5e6;
    color: #7a392f;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.duvidas:hover {
    color: #f8f5e6;
    background-color: #7a392f;
}

.whatsapp-icon {
    width: 31px;
    height: 31px;
    border-radius: 12px;
}

h1, h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 50px;
    position: relative; 
    top: 85px;    
    right: 25%; 
}

.consulta {
    background-color: #f8f5e6;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 25px;
    color: #7a392f;
    position: relative;    
    top: -160px;
    left: 30%; 
}

.texto {
    display: flex;
    flex-direction: column;
}

.horario {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.tratamento{
    margin-bottom: -10px;
}

.botao {
    background-color: #d3d3d3;
    color: #7a392f;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.6s ease;
    font-size: 0.9rem;
}

.botao:hover {
    color: #d3d3d3;
    background-color: #7a392f;
}
