/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 de nov. de 2024, 21:11:42
    Author     : Guylherme Lyra & Samir
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d0ebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    top: -30px; 
}

.exterior {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    top: -50px;
}

.voltar {
    text-align: left;
    margin-bottom: 5px;
    font-size: 25px;
    position: relative; 
    right: 610px;
    top: -10px;
    padding: 5px 10px;
    background-color: #f8f5e6;
    color: #7a392f;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.voltar:hover {
    color: #f8f5e6;
    background-color: #7a392f;
}


h1 {
    font-size: 36px;
    color: #7a392f;
    margin-bottom: 20px;
    position: relative; 
}

.container {
    text-align: center;
    background-color: #f8f5e6;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 900px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    padding: 15px;
    border: 1px solid #333;
    text-align: center;
}

th {
    background-color: #e0e0d1;
    font-weight: bold;
}

td {
    background-color: #fdfdf6;
}

.botao-adicionar {
    background-color: #7a392f;
    border: none;
    padding: 12px 19px;
    border-radius: 20px;
    color: #dfdfdf;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    margin-top: 16px;
    
}

.botao-adicionar:hover {
    background-color: #dfdfdf;
    color: #7a392f;
    border: 2px solid #7f3d3d;
}

